.HomeTextStyle {
  background-color: #9861ceaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.textH4Style {
  color: #0c0b0c;
  font-weight: bold;
 color: #ffff;
}
.searchField {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchStyle {
  outline: none;
  border: 1px solid #069906;
  width: 50%;
  text-align: center;
  padding: 9px;
}

@media screen and (max-width: 820px) {
  .searchStyle {
    width: 90%;
  }
}

.searchStyle:hover {
  border: 1px solid #0dec0d;
}

.searchButton {
  background-color: #069906;
  padding: 10px;
  color: #ffff;
  cursor: pointer;
}
.searchButton:hover{
  background-color: #0bb50b;
}
