.HomeTextStyle {
  background-color: #008080ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.heading {
  font-weight: bold;
  color: #ffff;
  text-align: center;
}
.searchField {
  width: 95%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.searchStyle {
  outline: none;
  border: 1px solid #069906;
  width: 50%;
  text-align: center;
  padding: 9px;
}

@media screen and (max-width: 820px) {
  .searchStyle {
    width: 90%;
  }
}

.searchStyle:hover {
  border: 1px solid #0dec0d;
}

.searchButton {
  background-color: #069906;
  padding: 10px;
  color: #ffff;
  cursor: pointer;
}
.searchButton:hover {
  background-color: #0bb50b;
}
