

.brandName {
  height: 40px;
  width: 70px;
  cursor: pointer;
}
@media screen and (max-width: 410px) {
  .brandName {
    height: 25px;
    width: 35px;
  }
}

.navbarLink {
  color: #ffff;
}
@media screen and (max-width: 410px) {
  .navbarLink {
    font-size: 8px;
  }
}

.lououtBtn {
  color: #ffff;
  cursor: pointer;
  font-size: 32px;
}
.lououtBtn:hover {
  color: #c6c2c2;
}
@media screen and (max-width: 410px) {
  .lououtBtn {
    font-size: 15px;
  }
}


.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -3px;
  border-radius: 50%;
  background: #0000ff;
}