.fullScreenImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 3px;
}

.TableHeading{
 background-color: #008080;
 color: #ffff;
 margin-top: 3%;
 margin-bottom: 1.5%;
 padding: 5px;

}