.CButton {
  padding: 7.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border: none;
  background-color: #008080;
  color: #ffff;
  border-radius: 3px;
  font-size: 14px;
}

.CButton:hover {
  background-color: #025a5a;
}

.CancelButton {
  padding: 7.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border: none;
  background-color: #be3838;
  color: #ffff;
  border-radius: 3px;
  font-size: 14px;
}

.CancelButton:hover {
  background-color: #ba1818;
}