.CButton {
  padding: 7.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border: none;
  background-color: #008080;
  color: #ffff;
  border-radius: 3px;
  font-size: 14px;
}

.CButton:hover {
  background-color: #025a5a;
}
.CDisabled {
  padding: 7.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border: none;
  background-color: #5ea8a8;
  color: #ffff;
  border-radius: 3px;
  font-size: 14px;
  cursor: not-allowed;
}

.CnDisabled {
  padding: 7.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border: none;
  background-color: #be3838a5;
  color: #ffff;
  border-radius: 3px;
  font-size: 14px;
  cursor: not-allowed;
}
.CancelButton {
  padding: 7.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border: none;
  background-color: #be3838;
  color: #ffff;
  border-radius: 3px;
  font-size: 14px;
}

.CancelButton:hover {
  background-color: #ba1818;
}

.DeleteRow {
  color: #d30e0e;
  font-size: 15px;
  margin-top: 3px;
  margin-right: 4px;
  cursor: pointer;
  opacity: -1;
}
tr:hover .DeleteRow {
  opacity: 1;
}

.imageStyle {
  width: 20px;
  height: 20px;
}
.imageStyle:hover {
  position: absolute;
  width: 250px;
  height: 250px;
  cursor: pointer;
  left: 50%;
  right: 50%;
}

.phoneVeryfiedStyle {
  background-color: #057805bf;
  padding: 6px;
  text-align: center;
  color: #ffff;
  border-radius: 2px;
  cursor: not-allowed;
}

.printButtonStyle {
  font-style: italic;
  margin-right: 6px;
}

.printButtonStyle:hover {
  color: #ffff00;
  cursor: pointer;
}

/* AlertStyle CSS */
.alertStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}