.CButton {
  padding: 7.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border: none;
  background-color: #008080;
  color: #ffff;
  border-radius: 3px;
  font-size: 14px;
}

.CButton:hover {
  background-color: #025a5a;
}
.SendOtpBtn{
  padding: 7.5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    border: none;
    background-color: #a5e7e7;
    color: #ffff;
    border-radius: 3px;
    font-size: 14px;
cursor: not-allowed;
  }

.CancelButton {
  padding: 7.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border: none;
  background-color: #be3838;
  color: #ffff;
  border-radius: 3px;
  font-size: 14px;
}

.CancelButton:hover {
  background-color: #ba1818;
}

.DeleteRow {
  color: #d30e0e;
  font-size: 15px;
  margin-top: 3px;
  margin-right: 4px;
  cursor: pointer;
}



.imageStyle {
  width: 20px;
  height: 20px;
}
.imageStyle:hover {
  position: absolute;
  width: 250px;
  height: 250px;
  cursor: pointer;
  left: 50%;
  right: 50%;
}

.phoneVeryfiedStyle{
  background-color: #0e990e;
  padding: 8px;
  text-align: center;
  color: #ffff;
  border-radius: 2px;
}